<div class="container">
    <div class="content-wrapper">
        <mat-form-field>
            <mat-label>Benutzer Name</mat-label>
            <input [(ngModel)]="username" matInput />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Überschrift</mat-label>
            <input [(ngModel)]="title" matInput />
        </mat-form-field>
        <angular-editor [(ngModel)]="content" [config]="editorConfig"></angular-editor>
        <button (click)="post()" class="buttonclass" mat-raised-button color="primary">Speichern</button>
    </div>
</div>